html {
    min-height: 100%;
}

body {
    background-color: #333;
    background-image: linear-gradient(#033536, #010c12);
    // color: #fff;
    min-height: 100%;
    font-family: arial, sans-serif;
}

#debugApp {

    h2 {
        color: #fff;
    }

    .form-label {
        color: #ccc;
    }

    .tick {

        opacity: .1;

        &.tickDown {
            color: #f00;
        }

        &.tickUp {
            color: #0f0;
        }

        &.tickAnimate {
            animation: blink .3s 1;
            animation-fill-mode: forwards;
        }

    }

    @keyframes blink {
        0% {
            opacity: 1;
        }

        50% {
            opacity: .3;
        }

        100% {
            opacity: 0.2;
        }
    }

    .sourceIdents {
        img {
            display: block;
            max-height: 60px;
            margin-bottom: 15px;
            filter: invert(1);
        }
    }

    #sAlbumArtUri {
        .bi {
            &.bi-exclamation-circle-fill {
                color: yellow;
            }
            &.bi-check-circle-fill {
                color: green;
            }
            &.bi-x-circle-fill {
                color: red;
            }
        }
    }

}