html {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 90vw;
    margin: 5vh auto;
}

.frame-view-class {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    opacity: 1;
}

.content-frame {
  grid-row-start: 1;
  grid-column-start: 1;
  height: 100%;
  width: 100%;
  border: none;
  opacity: 0; // Adjusted by js code
  transition: opacity 1.5s ease-in-out;
}