html {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
}

body {
    margin: 10vh 0;
    height: 80vh;
    background-color: black;
    box-sizing: border-box;
    overflow: auto;
}