/* ------------------------
 * WiiM Display styling (SCSS)
 */

/* WiiM Display App */
#wiimdApp {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    background: rgb(1, 12, 18);
    background: linear-gradient(0deg, rgba(1, 12, 18, 1) 0%, rgba(3, 53, 54, 1) 50%, rgba(40, 67, 74, 1) 100%);

    .wiimdContainer {
        display: grid;
        grid-template-columns: .95fr 1.05fr;
        grid-template-rows: 1fr 105px;
        grid-template-areas:
            "wiimdAlbumArt wiimdMediaInfo"
            "wiimdFooter wiimdFooter";
        gap: 0px 0px;
        grid-auto-flow: row;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        color: #fff;
    }

    .wiimdAlbumArt {
        grid-area: wiimdAlbumArt;
        text-align: center;
        overflow: hidden;
    }

    .wiimdMediaInfo {
        grid-area: wiimdMediaInfo;
        padding: 0px 24px 0 24px;
    }

    .wiimdFooter {
        grid-area: wiimdFooter;
        padding: 0 24px;
    }

    .text-secondary {
        color: rgba(179, 189, 186, 1) !important;
    }

    #wiimdBgAlbumArt {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        #bgAlbumArtBlur {
            height: 100%;
            background-image: url("../img/album-fake.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            filter: blur(12px) brightness(.6) opacity(0.6);
            transform: scale(1.25);
        }
    }

    .wiimdAlbumArt {
        > div {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 100%;
            max-height: 100%;
            overflow: hidden;
        }

        #albumArt {
            width: 80%;
            box-shadow: 3px 3px 16px rgba(0, 0, 0, .75);
        }
    }

    .wiimdMediaInfo {
        text-shadow: 3px 3px 8px rgba(0, 0, 0, .75);

        #mediaSource {
            text-align: right;
            img {
                max-height: 30px;
                margin: 15px;
                filter: invert(1);
            }
        }

        #placeholder {
            margin-top: 10%;
        }

        h1 {
            font-size: calc(1.375rem + 1.7vw);
        }

        h2 {
            font-size: calc(1.325rem + 2.2vw);
        }

        h3 {
            font-size: calc(1.3rem + 1.5vw);
        }

        h4 {
            font-size: calc(1.275rem + 0.8vw);
        }

        div, p {
            font-size: calc(.875rem + 0.8vw);
        }

        div:has(>#mediaAlbum),
        #mediaQuality,
        #mediaSubTitle {
            font-size: calc(.875rem + .3vw);
        }

        #mediaAlbumIdent,
        #mediaQualityIdent {
            &.badge-outlined {
                border: 1px solid rgba(118, 125, 123, 1);
                font-weight: var(--bs-body-font-weight);
                margin-right: 10px;
            }
        }
    }

    .wiimdFooter {
        #progressPercent {
            height: 2px;
            --bs-bg-opacity: .5;
        }

        #devNameHolder {
            position: absolute;
            left: 24px;
            bottom: 30px;
            font-size: calc(.875rem + .3vw);
        }

        #devVolumeHolder {
            position: absolute;
            right: 24px;
            bottom: 30px;
            text-align: right;
            font-size: calc(.875rem + .3vw);
        }
    }
}
