/* ------------------------
 * WiiM Now Playing styling (SCSS)
 */

/* WiiM Now Playing App */
#wnpApp {

    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    background: rgb(1, 12, 18);
    background: linear-gradient(0deg, rgba(1, 12, 18, 1) 0%, rgba(3, 53, 54, 1) 50%, rgba(40, 67, 74, 1) 100%);

    // ===============================
    // Default CSS Grid - mobile first strategy
    // Mobile portrait mode as default
    .wnpContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.4fr .6fr 120px;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "wnpAlbumArt"
            "wnpMediaInfo"
            "wnpFooter";

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 90%;
        overflow: hidden;

        color: #fff;

    }

    /* CSS Grid areas - mobile first */
    .wnpAlbumArt {
        grid-area: wnpAlbumArt;

        padding: 40px 24px 16px 24px;
        text-align: center;
        overflow: hidden;
    }

    .wnpMediaInfo {
        grid-area: wnpMediaInfo;
        padding: 0px 24px 0 24px;
    }

    .wnpFooter {
        grid-area: wnpFooter;
        padding: 0 24px;
    }

    // Default overrides
    .text-secondary {
        color: rgba(179, 189, 186, 1) !important;
    }

    /* Background Album Art */
    #wnpBgAlbumArt {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 90%;
        overflow: hidden;

        #bgAlbumArtBlur {
            height: 100%;
            /* Center and scale the image nicely */
            background-image: url("../img/fake-album-1.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            /* Add the blur effect */
            filter: blur(12px) brightness(.6) opacity(0.6);
            /* Zoom in */
            transform: scale(1.25);
        }

    }

    /* Album Art contents */
    .wnpAlbumArt {

        >div {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 100%;
            max-height: 100%;
            overflow: hidden;
            box-shadow: 3px 3px 16px rgba(0, 0, 0, .75);
        }

        #albumArt {
            width: 100%;
            box-shadow: 3px 3px 16px rgba(0, 0, 0, .75);
        }

    }

    /* Media info contents */
    .wnpMediaInfo {

        text-shadow: 3px 3px 8px rgba(0, 0, 0, .75);

        // Media Source Ident
        #mediaSource {
            text-align: center;

            img {
                max-height: 24px;
                margin-bottom: 15px;
                filter: invert(1);
            }

        }

        h1 {
            font-size: calc(1.375rem + 1.5vw);
        }

        h2 {
            font-size: calc(1.325rem + .9vw);
        }

        h3 {
            font-size: calc(1.3rem + .6vw);
        }

        h4 {
            font-size: calc(1.275rem + .3vw);
        }

        div, p {
            font-size: calc(.875rem + .3vw);
        }

        div:has(>#mediaAlbum),
        #mediaQuality,
        #mediaSubTitle {
            font-size: calc(.875rem + .3vw);
        }

        // Media Album and Quality Ident
        #mediaAlbumIdent,
        #mediaQualityIdent {

            &.badge-outlined {
                border: 1px solid rgba(118, 125, 123, 1);
                font-weight: var(--bs-body-font-weight);
                margin-right: 10px;
            }

        }

    }

    /* Footer contents */
    .wnpFooter {

        #progressPercent {
            height: 2px;
            --bs-bg-opacity: .5;
        }

        .btn-group.primary {

            button {
                border: none;
            }

            button:hover,
            button:active {
                background-color: transparent;
                color: var(--bs-btn-color);
            }

            #btnPlay {
                font-size: 2.25rem;
            }

            #btnPrev,
            #btnNext {
                font-size: 1.75rem;
            }
        }

        .btn-group.secondary {
            position: absolute;
            top: 5px;
            right: 15px;

            button,
            a {
                border: none;
                padding: 6px;
            }

            button:hover,
            button:active,
            a:hover,
            a:active {
                background-color: transparent;
                color: var(--bs-btn-color);
            }
        }

        #devNameHolder {
            position: absolute;
            left: 24px;
            bottom: 15px;
            font-size: calc(.875rem + .3vw);
        }

        #devVolumeHolder {
            position: absolute;
            right: 24px;
            bottom: 15px;
            text-align: right;
            font-size: calc(.875rem + .3vw);
        }

    }

    // ===============================
    // Responsive layout changes

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) and (orientation: landscape) {

        .wnpContainer {
            grid-template-columns: .65fr 1.35fr;
            grid-template-rows: 1fr 105px;
            grid-template-areas:
                "wnpAlbumArt wnpMediaInfo"
                "wnpFooter wnpFooter";
        }

        /* CSS Grid areas - mobile first */
        .wnpAlbumArt {
            padding: 24px 24px 16px 24px;
        }

        .wnpMediaInfo {
            padding: 24px 24px 24px 0;
        }

        .wnpFooter {
            padding: 0 24px;

            .btn-group.primary {
                margin-top: 5px;
            }

        }

    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) and (orientation: landscape) {

        .wnpContainer {
            grid-template-columns: .95fr 1.05fr;
            grid-template-rows: 1fr 105px;
        }

        /* Media info contents */
        .wnpMediaInfo {

            #mediaSource {
    
                img {
                    max-height: 28px;
                }
    
            }
    
        }

        /* Footer contents */
        .wnpFooter {

            .btn-group.primary {
                margin-top: 2px;
            }

        }
    }

    // Large devices (desktops/tablets, 992px and up)
    @media (min-width: 992px) and (orientation: landscape) {

        /* Media info contents */
        .wnpMediaInfo {

            #mediaSource {
    
                img {
                    max-height: 30px;
                }
    
            }
    
        }
        
    }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) and (orientation: landscape) {

        /* Media info contents */
        .wnpMediaInfo {

            #mediaSource {
    
                img {
                    max-height: 32px;
                }
    
            }
    
        }

    }

    // In case of TV mode activated
    // Hides player controls, more focus on song and artwork
    // TODO: rework to media queries
    &.tv-mode {

        /* Layout - CSS Grid */
        // Mobile portrait mode as default
        .wnpContainer {
            grid-template-rows: 1.4fr .6fr 56px;
        }

        // Small devices (landscape phones, 576px and up)
        @media (min-width: 576px) and (orientation: landscape) {

            .wnpContainer {
                grid-template-columns: .75fr 1.25fr;
                grid-template-rows: 1fr 46px;
                grid-template-areas:
                    "wnpAlbumArt wnpMediaInfo"
                    "wnpFooter wnpFooter";
            }

        }

        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) and (orientation: landscape) {

            .wnpContainer {
                grid-template-columns: 1.05fr .95fr;
                // grid-template-rows: 1fr 105px;
            }

        }

        /* Media info TV mode */
        .wnpMediaInfo {

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin-bottom: 0.75rem;
            }

            // Media Source Ident
            #mediaSource {
                text-align: left;
            }

        }

        /* Footer TV mode */
        .wnpFooter {

            // Emphasize progress bar
            #progressPercent {
                height: 5px;
            }

            // Hide player controls
            .btn-group.primary,
            #devNameHolder,
            #devVolumeHolder {
                display: none;
            }

            #progressPlayed,
            #progressLeft {
                padding-top: 5px;
            }

            #mediaQuality {
                padding-top: 3px;
            }

            #mediaQualityIdent {

                &.badge-outlined {
                    border: 1px solid rgba(118, 125, 123, 1);
                    font-weight: var(--bs-body-font-weight);
                    margin-right: 10px;
                }

            }

        }
    }

}
